:root {
  --color-brand: #fd9222;
  --color-primari: #111;
  --color-primeri-light: #fff;
  --color-primeri-light-tr: #ffffffb2;
  --color-background: #1e1823;
  --color-background-light: #fafafa;
  --color-border: rgba(17, 17, 17, 0.1);
}
/*Base*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primari);
  background-color: var(--color-background-light);
  font-size: 14px;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}

.section-title {
  text-align: center;
  margin-bottom: 32px;
  padding: 72px 26px 0 26px;
  font-size: 20px;
  font-weight: 600px;
  line-height: 1.2;
  letter-spacing: -0.7px;
  text-align: center;
  text-transform: uppercase;
}

/*END Base*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Hero section*/
.hero-section {
  padding-bottom: 72px;
  padding-left: 20px;
  padding-right: 20px;
}

.hero-inner {
  background-color: var(--color-background);
  padding: 395px 20px 20px 20px;
  border-radius: 30px;
  background-image: url('../images/chocolate-covered-cocoa-powder\ 1\ mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--color-primeri-light);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.6px;
  margin-bottom: 32px;
  max-width: 290px;
}

.hero-actions {
  align-items: center;
}

.button-primary {
  background-color: var(--color-brand);
  color: var(--color-primeri-light);
  cursor: pointer;
  border: none;
  padding: 12px 28px;
  border-radius: 100px;
  font-weight: 600;
  line-height: 1.24;
  letter-spacing: 0.5px;
  margin-right: 10px;
}

.button-primary:hover {
  color: var(--color-brand);
  background-color: #fcf1e0;
}

.hero-button {
  color: var(--color-primeri-light);
  border: 1px solid currentColor;
  padding: 12px 28px;
  border-radius: 100px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: -0.2px;
}

.hero-button:hover {
  color: var(--color-brand);
}

.hero-arrow {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
  color: var(--color-primeri-light);
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03;
  animation: bounce 2s infinite reverse;
  margin-top: 32px;
  font-size: 12px;
  letter-spacing: -0.4px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-arrow:hover {
  color: var(--color-brand);
}

.hero-arrow-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  fill: var(--color-brand);
  background-color: var(--color-background-light);
  border-radius: 50%;
}

.hero-arrow-link:hover .hero-arrow-link {
  fill: var(--color-primari);
}

/*END Hero section*/

/*Advantages section*/

.advantage-section {
  background-color: var(--color-background);
  padding: 20px 0 0 0;
}

.advantage-list {
  margin-top: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}

.advantage-item:not(:last-child) {
  gap: 20px;
  border-right: 1px solid var(--color-primeri-light-tr);
}

.advantage-title {
  color: var(--color-primeri-light-tr);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  margin-bottom: 18px;
}

.advantage-text {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-primeri-light-tr);
  margin-bottom: 18px;
  max-width: 308px;
}

.advantage-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  border: 1px solid var(--color-primeri-light-tr);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  fill: var(--color-brand);
}

.advantage-svg.coin {
  border: 3px solid var(--color-brand);
  border-radius: 365px;
}
/*END Advantages section*/

/* Ingridients section*/

.ingridients-title {
  text-align: center;
  margin-bottom: 28px;
  padding: 72px 26px 0 26px;
  font-size: 20px;
  font-weight: 600px;
  line-height: 1.2;
  letter-spacing: -0.7px;
  text-align: center;
  text-transform: uppercase;
}

.ingridients-subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 32px;
  line-height: 1.2;
  letter-spacing: -0.3px;
  padding: 0 20px;
}

.ingridients-list {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.ingridients-item {
  border: 1px solid var(--color-brand);
  border-radius: 15px;
  background: var(--color-background-light);
}

.ingridients-item:not(:last-child) {
  margin-bottom: 20px;
}

.ingridient {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
  padding: 28px 56px 25px 56px;
  border-radius: 15px;
}

.ingridients-imgtitle {
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 28px;
  padding-left: 28px;
}

.ingrid__item:nth-child(4n + 1) .ingrid__imgtitle,
.ingrid__item:nth-child(4n + 3) .ingrid__imgtitle {
  color: var(--color-primeri-light);
}

/* END Ingridients section*/

/* video section */

.video-inner {
}

.video-media {
  flex-basis: calc((100% - 20px) / 2);
}

.video-play {
  /* TODO centr*/
  display: none;
}

.video-background {
  object-fit: cover;
  padding-left: 20px;
  border-radius: 15px;
}

.video-card {
  padding: 20px 20px;
}

.video-content {
  padding: 20px 14px;
  background-color: var(--color-primeri-light);
  border-radius: 15px;
}

.video-paragraph {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32;
  letter-spacing: 0.06px;
}

.video-list {
  list-style-type: initial;
  padding-left: 14px;
  margin-top: 20px;
}

.video-item {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.2px;
}
.video-item:not(:last-child) {
  margin-bottom: 18px;
}

/* END video section */

/* Product section */

.products-list {
  flex-wrap: wrap;
  column-gap: 18px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.products-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 calc((100% - 54px)) / 4;
  padding: 32px 20px;
  background-color: var(--color-primeri-light);
  border: 1px solid var(--color-border);
  border-radius: 15px;
}

.products-img {
  width: 230px;
  height: 201px;
  margin-bottom: 8px;
  object-fit: cover;
}

.products-subtitle {
  color: var(--color-primari);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  transform: scale(0);
  opacity: 1;
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.products-text {
  color: var(--smtext);
  line-height: 1.17;
  letter-spacing: -0.24px;
  margin-bottom: 18px;
}

.products-button {
  color: var(--maintext);
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 100px;
  background-color: var(--color-background-light);
  border: 1px solid var(--color-border);
}

/* END Product section */
/* Top Sellers section */

.sellers-text {
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--color-primari);
  margin-bottom: 18px;
  max-width: 308px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.button-sellers {
  margin-top: 20px;
  margin-left: 127px;
}
/* END Product section */

/* Reviews section */
.review-list {
  padding: 0 20px;
  margin-top: 72px;
  margin-bottom: 50px;
}

.review-item {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 15px;
  border: 1px solid var(--color-border);
  background: var(--color-background-light);
  box-shadow: 0px 9.04932px 26.57166px 0px rgba(215, 228, 249, 0.25);
  padding: 56px 18px 42px;
  margin-bottom: 60px;
}

.review {
  border: 1px solid var(--color-primeri);
  background-color: var(--color-background-light);
  box-shadow: 0px 9px 26px 0px var(--color-primeri-light-tr);
  text-align: center;
}

.review-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  max-height: 80px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}

.review-name {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 24px;
  margin-left: 8px;
}

.review-description {
  color: var(--color-primari);
  text-align: center;
  line-height: 1.28;
  letter-spacing: -0.3px;
}

.review-button {
  display: block;
  color: var(--color-primari);
  font-size: 14px;
  font-weight: 600;
  padding: 12px 28px;
  background-color: var(--color-background-light-);
  border-radius: 100px;
  border: 1px solid var(--color-brand);
  margin: 0 auto;
  transition-property: color background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 72px;
}
/* END Reviews section */

.subscribe {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../images/Subcribe.png), lightgray 0px -481.157px / 100% 375.122%;
  max-width: 375px;
  max-height: 370px;
}

.subscribe-title {
  color: var(--color-primeri-light);
  font-weight: 600;
  padding-top: 62px;
  margin-bottom: 24px;
}

.subscribe-text {
  color: var(--color-primeri-light);
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
  max-width: 326px;
  padding-left: 24px;
}

.button-subscribe {
  margin: 24px 123px 63px;
}

@media (min-width: 1200px) {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .button-primary {
    background-color: var(--color-brand);
    color: var(--color-primeri-light);
    cursor: pointer;
    border: none;
    padding: 14px 40px;
    border-radius: 100px;
    font-weight: 600;
    line-height: 1.21;
  }

  .button-primary:hover {
    color: var(--color-brand);
    background-color: #fcf1e0;
  }

  .section {
    padding: 64px 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
  }

  /*Header*/
  .header {
    padding-bottom: 8px;
  }

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-socials {
    display: flex;
    gap: 18px;
  }

  .header-nav {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-grow: 1;
  }

  .header-socials-link {
    stroke: var(--color-primari);
    fill: none;
    transition: stroke 0.2s;
  }

  .header-socials-link:hover {
    stroke: var(--color-brand);
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-primari);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-decoration: none;
    text-transform: uppercase;
  }

  .logo-accent {
    font-style: italic;
  }

  .nav-list {
    display: flex;
    gap: 24px;
    flex-grow: 1;
    justify-content: center;
    gap: 24px;
  }

  .nav-link {
    display: inline-block;
    padding: 24px 0;
    color: var(--color-primari);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-decoration: none;
  }

  .nav-link:hover {
    color: var(--color-brand);
  }
  /*END Header*/

  /*Hero section*/
  .hero-section {
    padding-bottom: 72px;
  }

  .hero-inner {
    background-color: var(--color-background);
    padding: 380px 40px 40px;
    border-radius: 30px;
    background-image: url('../images/chocolate-covered-cocoa-powder\ 1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-title {
    color: var(--color-primeri-light);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.84px;
    margin-bottom: 32px;
    max-width: 484px;
  }

  .hero-actions {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .hero-button {
    color: var(--color-primeri-light);
    border: 1px solid currentColor;
    padding: 14px 40px;
    border-radius: 100px;
    font-weight: 600;
    line-height: 1.21;
  }

  .hero-button:hover {
    color: var(--color-brand);
  }

  .hero-arrow {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: auto;
    color: var(--color-primeri-light);
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03;
    animation: bounce 2s infinite reverse;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .hero-arrow:hover {
    color: var(--color-brand);
  }

  .hero-arrow-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    fill: var(--color-brand);
    background-color: var(--color-background-light);
    border-radius: 50%;
  }

  .hero-arrow-link:hover .hero-arrow-link {
    fill: var(--color-primari);
  }

  /*END Hero section*/

  /*Advantages section*/
  .advantage-section {
    background-color: var(--color-background);
    padding: 50px 0;
  }

  .advantage-list {
    display: flex;
    gap: 70px;
  }

  .advantage-item:not(:last-child) {
    padding-right: 18px;
    border-right: 1px solid var(--color-primeri-light-tr);
  }

  .advantage-title {
    color: var(--color-primeri-light-tr);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
  }

  .advantage-text {
    font-weight: 400;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: var(--color-primeri-light-tr);
    margin-bottom: 18px;
  }

  .advantage-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--color-brand);
    margin-bottom: 22px;
    border: 1px solid var(--color-primeri-light-tr);
    border-radius: 50%;
    width: 62px;
    height: 62px;
  }

  /*END Advantages section*/

  /* Ingridients section*/

  .ingridients-title {
    text-align: center;
    margin-bottom: 28px;
  }

  .ingridients-subtitle {
    text-align: center;
    margin-bottom: 50px;
  }

  .ingridients-list {
    display: flex;
    gap: 20px;
  }

  .ingridients-item {
    flex-basis: calc((100% - 60px) / 4);
  }

  .ingridient {
    padding: 28px;
  }

  /* END Ingridients section*/

  /* video section */

  .video-inner {
    display: flex;
    gap: 20px;
  }

  .video-media {
    flex-basis: calc((100% - 20px) / 2);
  }

  .video-play {
    /* TODO centr*/
    display: none;
  }

  .video-background {
    height: 100%;
    object-fit: cover;
  }

  .video-content {
    padding: 32px;
    flex-basis: calc((100% - 20px) / 2);
  }

  /* END video section */

  /* Reviews section */
  .review-list {
    display: flex;
    gap: 28px;
  }

  .review-item {
    position: relative;
    flex-basis: calc((100% - 56px) / 3);
  }

  .review {
    border: 1px solid var(--color-primeri);
    background-color: var(--color-primeri-light);
    box-shadow: 0px 9px 26px 0px var(--color-primeri-light-tr);
    padding: 56px 24px 42px;
    text-align: center;
  }

  .review-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .review-button {
    display: block;
    color: var(--color-primari);
    font-size: 18px;
    font-weight: 600;
    padding: 14px 40px;
    background-color: var(--color-background-light-);
    border-radius: 100px;
    border: 1px solid var(--color-brand);
    margin: 0 auto;
    transition-property: color background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
